#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    chosen { zmk,physical-layout = &charybdis_6col_layout; };
};

&lt { flavor = "tap-preferred"; };

// Layer definitions

#define BASE 0
#define LOWER 1
#define RAISE 2
#define SCROLL 3
#define POINTER 4
#define SNIPING 5

/ {
    behaviors {
        // Hold-tap behavior for layer with tap-preferred
        // Tap-dance for GUI/Ctrl+B
        // Home row mods - Left hand

        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <125>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 53 54 55>; // Right side keys
            hold-trigger-on-release;
        };

        // Home row mods - Right hand

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <125>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 48 49 50 51 52>; // Left side keys
            hold-trigger-on-release;
        };

        td_sqbrkt: td_sqbrkt {
            compatible = "zmk,behavior-tap-dance";
            label = "tap dance open and close bracket";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        td_esc_pscrn: td_esc_pscrn {
            compatible = "zmk,behavior-tap-dance";
            label = "Tap dance esc & print screen";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE>, <&kp PRINTSCREEN>;
        };

        td_space_enter: td_space_enter {
            compatible = "zmk,behavior-tap-dance";
            label = "Tap dance space enter";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&kp ENTER>;
        };
    };

    macros {
        // Ctrl+Alt+Cmd macro
        // Ctrl+Shift+Alt macro
        // Ctrl+Alt macro
        // Shift+Middle Click macro
    };

    combos {
        compatible = "zmk,combos";
        timeout-ms = <20>;
        require-prior-idle-ms = <250>;

        // Studio Unlock Combo - all three right thumb keys
    };

    keymap {
        compatible = "zmk,keymap";

        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //    0             1             2             3             4             5                 6             7             8             9            10            11
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //   12            13            14            15            16            17                18            19            20            21            22            23
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //   24            25            26            27            28            29                30            31            32            33            34            35
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //   36            37            38            39            40            41                42            43            44            45            46            47
        // ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
        //               ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────╮
        //                  48            49            50            51            52                53            54            55
        //               ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
        //                                                                         Actual Key Positions
        //                                          ╭─────────────┬─────────────┬─────────────╮    ╭─────────────┬─────────────╮
        //                                             50           51            48                 55            54
        //                                          ╰─────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────╯
        //                                                          52            49                 53
        //                                                        ╰─────────────┴─────────────╯    ╰─────────────╯

        base_layer {
            label = "BASE";
            display-name = "Base";
            bindings = <
&td_esc_pscrn   &kp N1           &kp N2                    &kp N3             &kp N4           &kp N5                 &kp N6                                            &kp N7           &kp N8              &kp N9            &kp N0                    &td_sqbrkt
&kp TAB         &kp Q            &kp W                     &kp E              &kp R            &kp T                                             &kp Y                  &kp U            &kp I               &kp O             &kp P                     &kp BSLH
&mt CAPS GRAVE  &hml LEFT_WIN A  &hml LEFT_ALT S           &hml LEFT_SHIFT D  &hml LCTRL F     &hml K_CONTEXT_MENU G                             &hmr K_CONTEXT_MENU H  &hmr RCTRL J     &hmr RIGHT_SHIFT K  &hmr RIGHT_ALT L  &hmr RIGHT_WIN SEMICOLON  &kp SQT
&lt 5 MINUS     &lt 4 Z          &lt 3 X                   &lt 2 C            &lt 1 V          &kp B                                             &kp N                  &lt 1 M          &lt 2 COMMA         &lt 3 DOT         &lt 4 FSLH                &lt 5 EQUAL
                &kp DELETE       &mt UP_ARROW RIGHT_ARROW  &lt 4 HOME         &td_space_enter  &lt 5 END              &mt DOWN_ARROW LEFT_ARROW                         &td_space_enter                      &kp BACKSPACE
            >;
        };

        lower_layer {
            label = "LOWER";
            display-name = "Func";
            bindings = <
&kp F11  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6          &kp F7          &kp F8          &kp F9           &kp F10   &kp F12
&trans   &trans  &trans  &trans  &trans  &trans          &trans  &kp PAGE_UP     &kp UP_ARROW    &kp PAGE_DOWN    &kp HOME  &trans
&trans   &trans  &trans  &trans  &trans  &trans          &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp END   &trans
&trans   &trans  &trans  &trans  &trans  &trans          &trans  &trans          &trans          &trans           &trans    &trans
         &trans  &trans  &trans  &trans  &trans  &trans          &trans                          &trans
            >;
        };

        raise_layer {
            label = "RAISE";
            display-name = "Conn";
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4    &trans          &kp K_MUTE        &kp C_VOL_DN  &kp C_VOL_UP  &trans  &trans
&trans  &bt BT_PRV    &bt BT_NXT    &bt BT_CLR    &bt BT_CLR_ALL  &studio_unlock          &trans  &kp C_PLAY_PAUSE  &kp C_PREV    &kp C_NEXT    &trans  &trans
&trans  &trans        &trans        &trans        &trans          &trans                  &trans  &trans            &trans        &trans        &trans  &trans
&trans  &trans        &trans        &trans        &trans          &trans                  &trans  &trans            &trans        &trans        &trans  &trans
        &trans        &trans        &trans        &trans          &trans          &trans          &trans                          &trans
            >;
        };

        scroll_layer {
            label = "SCROLL";
            display-name = "Scroll";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans          &trans          &trans
            >;
        };

        pointer_layer {
            label = "POINTER";
            display-name = "Pointer";
            bindings = <
&none   &none   &none      &none           &none      &none   &none         &none      &none           &none      &none   &none
&none   &none   &none      &msc SCRL_UP    &none      &none          &none  &none      &msc SCRL_UP    &none      &none   &none
&none   &none   &mkp RCLK  &mkp MCLK       &mkp LCLK  &none          &none  &mkp LCLK  &mkp MCLK       &mkp RCLK  &none   &none
&trans  &trans  &none      &msc SCRL_DOWN  &none      &none          &none  &none      &msc SCRL_DOWN  &none      &trans  &trans
        &none   &none      &trans          &none      &trans  &none         &none                      &none
            >;
        };

        sniping_layer {
            label = "SNIPING";
            display-name = "Sniping";
            bindings = <
&none   &none   &none      &none           &none      &none   &none         &none      &none           &none      &none   &none
&none   &none   &none      &msc SCRL_UP    &none      &none          &none  &none      &msc SCRL_UP    &none      &none   &none
&none   &none   &mkp RCLK  &mkp MCLK       &mkp LCLK  &none          &none  &mkp LCLK  &mkp MCLK       &mkp RCLK  &none   &none
&trans  &trans  &none      &msc SCRL_DOWN  &none      &none          &none  &none      &msc SCRL_DOWN  &none      &trans  &trans
        &none   &none      &trans          &none      &trans  &none         &none                      &none
            >;
        };
    };
};
